<h1 class='search-title'>検索結果</h1>  
<ul>
<% if @results.nil? %>
<div>指定されたカテゴリは見つかりませんでした</div>
<% else %>
  <% @results.each do |result| %>
    <li class='detail'>
      <div>id：<%= result.id %></div>
      <div>カテゴリ名：<%= result.category.name %></div>
      <div>アプリ詳細：<%= result.body %></div>
    </li>
  <% end %>
<% end %>
</ul>
<%= link_to 'トップページへ戻る', root_path %>
